.intro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.contain {
  width: 90%;
  display: flex;
}

@media screen and (max-width: 576px) {
  .contain {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .contain {
    flex-direction: row;
    width: 90%;
  }
}

.intro-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .intro-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .intro-text {
    order: 1;
    width: 50%;
    align-items: flex-start;
  }
}

.intro-text h1 {
  width: 100%;
  padding: 1.5rem 0;
  font-size: 3rem;
  color: darkblue;
}

@media screen and (max-width: 576px) {
  .intro-text h1 {
    width: 80%;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .intro-text h1 {
    width: 85%;
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .intro-text h1 {
    width: 100%;
    font-size: 2.7rem;
    text-align: left;
  }
}

.intro-text p {
  width: 100%;
  padding-bottom: 1.5rem;
  color: gray;
}

@media screen and (max-width: 576px) {
  .intro-text p {
    padding: 0.7rem;
    font-size: 1.3rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .intro-text p {
    width: 80%;
    font-size: 1.5rem;
    padding: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .intro-text p {
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem 0;
    width: 100%;
  }
}

.intro-btn {
  background-image: linear-gradient(to right, #32cd32, #00ffff);
  color: white;
  padding: 0.7rem;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}

.intro-btn:hover {
  opacity: 0.8;
}

.intro-img {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: 150px -150px;
  background-repeat: no-repeat;
  /* position: relative; */
  min-height: 17.5rem;
}

@media screen and (max-width: 576px) {
  .intro-img {
    width: 100%;
    display: flex;
    justify-content: center;
    order: 1;
    background-size: 917px;
    background-position: -171px -233px;
    height: 30rem;
  }
}

@media screen and (min-width: 768px) {
  .intro-img {
    width: 100%;
    background-position: 140px -273px;
  }
}

@media screen and (min-width: 992px) {
  .intro-img {
    order: 2;
    width: 90%;
    background-size: 150%;
    background-position: -40px -250px;
    height: 40rem;
  }
}

.mock-img {
  width: 100%;
  position: absolute;
  top: -5rem;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .mock-img {
    top: -6rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 90%;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .mock-img {
    width: 150%;
    top: 3.5rem;
    right: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .mock-img img {
    width: 59%;
  }
}

@media screen and (min-width: 992px) {
  .mock-img img {
    width: 200%;
  }
}
